@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.new-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.store-civ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.new-head {
  font-size: 20px;
}

.zero {
  font-size: 20px;
}

.arrival-image {
  max-height: 50%;
  max-width: 50%;
}

.search-input {
  width: 220px;
}

.store-insta {
  display: flex;

  justify-content: space-between;
}

.search-div {
  display: flex;
  justify-content: space-around;
}

.fabric-head {
  color: red;
  font-size: 25px;
}

.result-item {
  display: flex;
  justify-content: space-around;
}
